%h3
    【お問い合わせ通知】
%p
    %a https://hrtg-ymzk.com/
    のお問い合わせフォームより、
    %br/
    %strong=@contact.name
    様からのお問い合わせを承りました。

%h4 ----- メールアドレス -----
%p= @contact.email

%h4 ----- お問い合わせ内容 -----
%p= @contact.content
