.footer__box
  .footer__box__button
    %p.footer__box__button__text PAGE TOP
  .footer__box__comment
    %h5.footer__box__comment__text Thank you for your visit!
  .footer__box__rights
    %p.footer__box__rights__text ©︎ 2019- Hirotsugu Yamazaki
