.introduction
  .introduction__box
    .self-intro
      .self-intro__head
        %h3.self-intro__head--text Welcome to my site!
      .self-intro__explain
        .self-intro__explain__box
          %p.self-intro__explain__box--text<
            こちらのページは、私
            %span.js-profile Hirotsugu Yamazaki
            の旧ポートフォリオサイトです。
            =link_to "新ポートフォリオサイトへはこちらから移動できます", "https://hrtg-ymzk.com/", class:"hover"
          -# %p.self-intro__explain__box--tips
