.site-section
  .site-head
    %h2.site-head__en Page Info
    %span.site-head__jp -このページについて-
  .site-main
    .site-main__box
      .site-contents
        .green-comment.clearfix
          .green-comment__inside
            .green-balloon.js-green-tech
              %p.site-comment
                使用技術・開発環境について
        .white-comment.js-white-tech.clearfix
          .white-comment__side
            .speaker-icon
              %h4.speaker-icon__name HY
          .white-comment__inside
            %p.speaker-name Hirotsugu Yamazaki
            .white-balloon
              %p.site-comment
                Ruby / Ruby on rails / haml / scss / jQuery / で作成したワンページアプリケーションです。
                %br/
                また、開発とデプロイにあたって、 GitHub と Heroku を利用しています。
        .green-comment.clearfix
          .green-comment__inside
            .green-balloon.js-green-aim
              %p.site-comment
                作成意図について
        .white-comment.js-white-aim.clearfix
          .white-comment__side
            .speaker-icon
              %h4.speaker-icon__name HY
          .white-comment__inside
            %p.speaker-name Hirotsugu Yamazaki
            .white-balloon
              %p.site-comment
                サーバーサイドの学習を主な目的として開発した他のアプリケーションとは違い、フロントエンドの学習のために作成しました。
                %br/
                htmlとcssの基本的な仕組みの実践と、JavaScriptの基礎的なDOM操作のおさらいのため、cssフレームワークの類は一切使用していません。
        .white-comment.js-white-aim.clearfix
          .white-comment__side
            .speaker-icon
              %h4.speaker-icon__name HY
          .white-comment__inside
            %p.speaker-name Hirotsugu Yamazaki
            .white-balloon
              %p.site-comment
                また、卒業したスクールのカリキュラムにはなかった"レスポンシブ対応"についての学習も狙いとしています。
                %br/
                PCだけでなく、スマートフォンやタブレットでの表示にもある程度対応しておりますので、ご興味ある方はぜひ複数デバイスでの表示をお試し下さい。
        .green-comment.clearfix
          .green-comment__inside
            .green-balloon.js-green-message
              %p.site-comment その他、管理人よりメッセージ
        .white-comment.js-white-message.clearfix
          .white-comment__side
            .speaker-icon
              %h4.speaker-icon__name HY
          .white-comment__inside
            %p.speaker-name Hirotsugu Yamazaki
            .white-balloon
              %p.site-comment
                ここで公開しているアプリケーションは、このページを含め、管理人の学習度に合わせて今後もブラッシュアップしていきます！
        .white-comment.js-white-message.clearfix
          .white-comment__side
            .speaker-icon
              %h4.speaker-icon__name HY
          .white-comment__inside
            %p.speaker-name Hirotsugu Yamazaki
            .white-balloon
              %p.site-comment
                作成したアプリケーション、また、管理人に関するご指摘・お問い合わせなどございましたら、お気軽に"お問い合わせ先"までご連絡下さい！
