.top-wrapper

  %header.header
    .header-box.clearfix
      .header-left
        = link_to "PORTFORIO", root_path, class: "header-left__logo"
      .header-right
        .header-right__sp
          %p.header-right__sp__close close
          = fa_icon "bars"
          .header-right__sp__menu
            .header-right__sp__menu--list.js-works
              %p 開発実績
            .header-right__sp__menu--list.js-about
              %p 管理者について
            .header-right__sp__menu--list.js-pageinfo
              %p ページ情報
        .header-right__pc
          %p.header-right__pc__link.js-works Works
          %p.header-right__pc__link.js-about About
          %p.header-right__pc__link.js-pageinfo PageInfo

  .introduction
    .introduction__box
      .self-intro
        .self-intro__head
          %h3.self-intro__head--text Welcome to my site!
        .self-intro__explain
          .self-intro__explain__box
            %p.self-intro__explain__box--text<
              こちらのページは、私
              %span.js-profile Hirotsugu Yamazaki
              のポートフォリオサイトです。主にRubyやPythonで開発したアプリケーションを公開しています。
            -# %p.self-intro__explain__box--tips<
            -#   (このページのレイアウトに、レスポンシブデザインを導入しました。ご興味のある方は、ぜひ複数デバイスでのアクセスをお試しください！)


.works-wrapper
  .works-section