.introduction{
  width: 360px;
  // height: 200px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 5px solid navy;
  border-bottom: 3px solid dimgray;
  &__box{
    padding: 10px;
    height: 100%;
    width: 100%;
  }
}

.self-intro{
  height: 100%;
  width: 100%;
  &__head{
    border-bottom: 1px solid #333;
    line-height: 30px;
    height: 30px;
    &--text{
      font-size: 20px;
      font-weight: bold;
      color: #333;
    }
  }
  &__explain{
    height: calc(100% - 30px);
    width: 100%;
    padding: 10px 10px 0 10px ;
    &__box{
      height: 100%;
      width: 100%;
      &--text{
        padding-top: 4px;
        font-size: 13px;
        color: #333;
        .js-profile{
          font-weight: bold;
          text-decoration-line: underline;
          cursor: pointer;
        }
        .js-profile:hover{
          color: steelblue;
        }
      }
      &--tips{
        padding-top: 6px;
        font-size: 12px;
        color: #333;
      }
    }
  }
}