///// TOPページのscss /////

///// ページ全体設定 /////

*{
  box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


///// topパート /////

.top-wrapper{
  background-image: image_url("dawn.jpg");
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
}

@import "header";
@import "introduction";


///// worksパート /////

.works-wrapper{
  width: 100%;
  height: 800px;
}

@import "works";


///// aboutパート /////

.about-wrapper{
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

@import "about";


///// siteパート /////

.site-wrapper{
  width: 100%;
}

@import "site";


///// footerパート /////
footer{
  bottom: 0;
  width: 100%;
  border-top: 1px solid #888;
  height: 100px;
}

@import "footer";


///// レスポンシブデザイン関連 /////

@import "responsive";
