// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
  box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.top-wrapper{
  background-image: image_url("dawn.jpg");
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
}

footer{
  bottom: 0;
  width: 100%;
  border-top: 1px solid #888;
  height: 100px;
}

header{
  height: 100px;
  width: 100%;
  z-index: 10;
  top: 0;
  .header-box{
    height: 100%;
    width: 100%;
    padding: 20px;
  }
}

.header-left{
  width: 50%;
  height: 100%;
  float: left;
  &__logo{
    text-decoration: none;
    height: 100%;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 60px;
    letter-spacing: 1px;
  }
  &__logo:hover{
    color: steelblue;
  }
}

.header-right{
  width: 50%;
  height: 100%;
  float: right;
  &__sp{
    display: none;
  }
  &__pc{
    line-height: 60px;
    text-align: right;
    &__link{
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
      font-size: 22px;
      padding-right: 10px;
      display: inline-block;
      cursor: pointer;
    }
    &__link:hover{
      color: steelblue;
    }
  }
}

.js-works .js-about .js-pageinfo{
  cursor: pointer;
}

.introduction{
  width: 360px;
  // height: 200px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 5px solid navy;
  border-bottom: 3px solid dimgray;
  &__box{
    padding: 10px;
    height: 100%;
    width: 100%;
  }
}

.self-intro{
  height: 100%;
  width: 100%;
  &__head{
    border-bottom: 1px solid #333;
    line-height: 30px;
    height: 30px;
    &--text{
      font-size: 20px;
      font-weight: bold;
      color: #333;
    }
  }
  &__explain{
    height: calc(100% - 30px);
    width: 100%;
    padding: 10px 10px 0 10px ;
    &__box{
      height: 100%;
      width: 100%;
      &--text{
        padding-top: 4px;
        font-size: 13px;
        color: #333;
        .js-profile{
          font-weight: bold;
          text-decoration-line: underline;
          cursor: pointer;
        }
        .js-profile:hover{
          color: steelblue;
        }
      }
      &--tips{
        padding-top: 6px;
        font-size: 12px;
        color: #333;
      }
    }
  }
}

.works-wrapper{
  width: 100%;
  height: 800px;
}

.works-section{
  width: 100%;
  height: 800px;
  padding: 40px;
  background-color: whitesmoke;
  margin: 0 auto;
}

.works-head{
  color: #333;
  &__en{
    font-size: 32px;
    display: inline-block;
    font-weight: bold;
  }
  &__jp{
    display: inline;
    padding-left: 5px;
  }
}

.recommend-browser{
  margin-top: 0;
  font-size: 12px;
  color: red;
}

.works-lists{
  width: 100%;
  height: calc(100% - 84px);
  color: #333;
  &__box{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

.works-list{
  width: 50%;
  height: 50%;
  padding: 10px;
  &__box{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
    &__head{
      height: 60%;
      &--left{
        float: left;
        height: 100%;
        width: 50%;
      }
      &--right{
        float: right;
        height: 100%;
        width: 50%;
        padding: 10px;
      }
    }
    &__content{
      border-top: 1px solid rgba(0, 0, 0, 0.5);
      padding: 10px 5px;
      height: 40%;
      position: relative;
      &--detail{
        font-size: 12px;
      }
    }
  }
}

.page-image{
  height: 100%;
  width: 100%;
  background-size: cover;
  border: 1px solid navy;
  display: block;
}

.page-image:hover{
  opacity: 0.4;
}

.works-fmsample{
  background-image: image_url("ss_fmsample.png");
}

.works-chatspace{
  background-image: image_url("ss_chatspace2.png");
}

.works-djappy{
  background-image: image_url("ss_djappy3.png");
}

.works-giantstep{
  background-image: image_url("ss_giantstep3.png");
}

.works-in-prep{
  height: 100%;
  width: 100%;
  background-color: lightgray;
  border: 1px solid navy;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.works-title{
  font-weight: bold;
  font-size: 16px;
  text-decoration-line: underline;
  padding-top: 5px;
  display: inline-block;
  color: #333;
}

.works-title:hover{
  color: steelblue;
}

.works-github{
  color: rgb(31, 52, 85);
  font-size: 26px;
  float: right;
  line-height: 120%;
}

.works-github:hover{
  color: steelblue;
}

.dev-env{
  font-size: 12px;
  margin-top: 10px;
  border: 1px solid #888;
  padding: 4px;
  &__head{
    width: 100%;
    h5{
      text-decoration-line: underline;
      font-weight: bold;
      width: 50%;
      float: left;
    }
    .ruby-app{
      display: block;
      width: 60px;
      height: 24px;
      float: right;
      text-align: center;
      line-height: 22px;
      background-color: crimson;
      border: 1px solid navy;
      color: #eee;
      border-radius: 2px;
    }
    .python-app{
      display: block;
      width: 60px;
      height: 24px;
      float: right;
      text-align: center;
      line-height: 22px;
      background-color: steelblue;
      border: 1px solid navy;
      color: #eee;
      border-radius: 2px;
    }
  }
}

.used-tech{
  font-size: 12px;
  margin-top: 5px;
}

.access-attention{
  position: absolute;
  font-size: 10px;
  margin-top: 5px;
  color: red;
  right: 0;
  bottom: 0;
}

.emphasized{
  font-weight: bold;
  color: navy;
}

// .js-mail{
//   color:rgb(33, 63, 87);
//   cursor: pointer;
// }

// .js-mail:hover{
//   color:steelblue;
// }

.about-wrapper{
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.about-section{
  width: 100%;
  padding: 40px;
  background-color: #010818;
  margin: 0 auto;
}

.about-head{
  color: rgba(255, 255, 255, 0.7);
  &__en{
    font-size: 32px;
    display: inline-block;
    font-weight: bold;
  }
  &__jp{
    display: inline;
    padding-left: 5px;
  }
}

.about-main{
  width: 100%;
  height: calc(100% - 48px);
  color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  &__box{
    width: 100%;
    height: 100%;
    padding: 40px;
    &__head{
      padding: 20px 10px 10px 10px;
    }
    &__detail{
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}


.about-name{
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
  margin-right: 20px;
  &__jp{
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
  }
  &__en{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
  }
}

.about-profile{
  padding: 25px;
  &__text{
    font-size: 14px;
  }
}

.about-learn{
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  &__box{
    padding: 45px 25px;
    &__head{
      text-align: center;
      &--text{
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
      }
    }
    &__tech{
      padding: 10px;
      &--text{
        font-size: 14px;
      }
    }
  }
}


.about-contact{
  padding: 40px 25px;
  &__head{
    padding: 5px;
    text-align: center;
    &__text{
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  &__link{
    padding: 5px;
    &__text{
      font-weight: bold;
      font-size: 14px;
      margin-top: 10px;
    }
    a{
      font-size: 14px;
      color: steelblue;
      width: 48%;
      height: 40px;
      margin-top: 10px;
      margin-left: 6px;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      border: 1px solid whitesmoke;
      text-decoration: none;
      color: whitesmoke;
      border-radius: 4px;
    }
    a:hover{
      color: steelblue;
      background-color: lightgray;
    }
  }
  &__mail{
    padding: 5px;
    &__head{
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
    }
    &__address{
      font-size: 14px;
      color: steelblue;
      width: 48%;
      height: 40px;
      margin-top: 10px;
      margin-left: 6px;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      border: 1px solid whitesmoke;
      text-decoration: none;
      color: whitesmoke;
      border-radius: 4px;
    }
    &__address:hover{
      color: steelblue;
      background-color: lightgray;
    }
  }
}

.mail-attention{
  font-size: 10px;
  margin-top: 5px;
  color: crimson;
  margin-left: 10px;
  margin-top: 15px;
}

.about-etc{
  padding: 10px;
  margin-top: 10px;
  &--text{
    font-size: 10px;
  }
}

.site-wrapper{
  width: 100%;
}

.site-section{
  width: 100%;
  padding: 40px;
  background-color: whitesmoke;
  margin: 0 auto;
}

.site-head{
  color: #333;
  // margin-left: 20px;
  &__en{
    font-size: 32px;
    display: inline-block;
    font-weight: bold;
  }
  &__jp{
    display: inline;
    padding-left: 5px;
  }
}

.site-main{
  width: 100%;
  padding: 20px 0;
  &__box{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
    background-color: rgb(160, 176, 201);
  }
}

.site-contents{
  width: 100%;
  padding: 20px;
  color: #333;
}

.white-comment{
  display: none;
  width: 100%;
  margin-bottom: 20px;
  &__side{
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 5px;
  }
  &__inside{
    width: calc(100% - 60px);
    padding-left: 24px;
    padding-right: 70px;
    float: right;
  }
}

.green-comment{
  width: 100%;
  margin-bottom: 20px;
  // &__side{
  //   float: right;
  //   width: 60px;
  //   height: 60px;
  // }
  &__inside{
    width: 100%;
    padding-left: 70px;
    float: right;
    text-align: right;
  }
}

.speaker-icon{
  width: 100%;
  height: 100%;
  background-color: #010b22;
  border-radius: 50%;
  display: flex;
  align-items: center;
  &__name{
    margin: 0 auto;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.speaker-name{
  font-size: 10px;
  color: whitesmoke;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

.white-balloon{
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  min-height: 35px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  text-align: left;
}

.white-balloon:before{
  content: "";
  height: 14px;
  width: 14px;
  background-color: whitesmoke;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -6px;
  box-shadow: rgba(0, 0, 0, 0.5) -3px 3px 5px -3px;
}

.green-balloon{
  background-color: lightgreen;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  min-height: 35px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  text-align: left;
  cursor: pointer;
}

.green-balloon:before{
  content: "";
  height: 14px;
  width: 14px;
  background-color: lightgreen;
  transform: rotate(225deg);
  position: absolute;
  top: 10px;
  right: -6px;
  box-shadow: rgba(0, 0, 0, 0.5) -1px 1px 4px -3px;
}

.site-comment{
  font-size: 14px;
}

.green-balloon:hover{
  color: steelblue;
  box-shadow: rgba(70, 130, 180, 0.5) 0px 2px 4px;
}

.footer{
  width: 100%;
  min-height: 160px;
  background-color: #010818;
  &__box{
    width: 100%;
    height: 100%;
    padding: 20px;
    &__button{
      margin: 0 auto;
      text-align: center;
      &__text{
        font-size: 12px;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 4px;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.6);
        color: #333;
        padding: 4px 8px;
        cursor: pointer;
      }
      &__text:hover{
        background-color: steelblue;
      }
    }
    &__comment{
      margin: 10px auto 0 auto;
      text-align: center;
      &__text{
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        color: rgba(255, 255, 255, 0.9);
      }
    }
    &__rights{
      margin: 10px auto 0 auto;
      text-align: center;
      &__text{
        font-size: 12px;
        display: inline-block;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}


@media (max-width: 1080px){
  .header-right__sp{
    height: 100%;
    width: 100%;
    text-align: right;
    display: block;
    position: relative;
    .fa-bars{
      font-size: 32px;
      color: white;
      line-height: 60px;
      padding-right: 5px;
      cursor: pointer;
    }
    .fa-bars:hover{
      color: steelblue;
    }
    &__close{
      font-size: 14px;
      color: white;
      line-height: 60px;
      padding-right: 5px;
      display: none;
      cursor: pointer;
    }
    &__close:hover{
      color: steelblue;
    }
    &__menu{
      display: none;
      width: 150px;
      position: absolute;
      right: 0;
      &--list{
        display: block;
        width: 150px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        p{
          line-height: 40px;
          color: #888;
          // -webkit-text-stroke: 0.1px black;
        }
        :hover{
          color: steelblue;
        }
      }
    }
  }
  .header-right__pc{
    display: none;
  }

  .works-wrapper{
    width: 100%;
    height: 1520px;
  }

  .works-section{
    width: 100%;
    height: 1520px;
    padding: 40px;
  }

  .works-lists{
    &__box{
      height: 100%;
      width: 100%;
      padding: 20px;
      display: block;
    }
  }

  .works-list{
    width: 100%;
    height: 25%;
  }
}

@media (max-width: 600px){
  .about-contact__link{
    a{
      width: 100%;
      margin-left: 0;
    }
  }
  .about-contact__mail__address{
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 600px){

  .works-wrapper{
    height: auto;
  }

  .works-section{
    width: 100%;
    height: auto;
    padding: 30px 15px;
  }

  .works-head{
    margin-left: 10px;
  }

  .recommend-browser{
    margin-left: 10px;
    font-size: 10px;
  }

  .works-lists{
    &__box{
      height: 100%;
      width: 100%;
      padding: 10px;
      display: block;
    }
  }

  .works-list{
    &__box{
      &__head{
        height: auto;
        &--left{
          float: none;
          width: 100%;
        }
        &--right{
          float: none;
          width: 100%;
          height: auto;
          padding: 20px;
        }
      }
      &__content{
        height: auto;
      }
    }
  }

  .page-image{
    padding-top: 53%;
  }

  .works-in-prep{
    display: none;
  }

  .access-attention{
    position: static;
  }

  .about-wrapper{
    height: auto;
  }

  .about-section{
    width: 100%;
    height: auto;
    padding: 30px 15px;
  }

  .about-head{
    margin-left: 10px;
    &__jp{
      display: block;
    }
  }

  .about-main{
    &__box{
      height: 100%;
      width: 100%;
      padding: 10px;
      display: block;
    }
  }

  .site-section{
    width: 100%;
    height: auto;
    padding: 30px 15px;
  }

  .site-head{
    margin-left: 10px;
    &__jp{
      display: block;
    }
  }

  .site-main{
    &__box{
      height: 100%;
      width: 100%;
      padding: 10px;
      display: block;
    }
  }

  .site-contents{
    padding: 4px;
  }

  .white-comment{
    &__side{
      height: 40px;
      width: 40px;
    }
    &__inside{
      width: 70%;
      padding: 0 0 0 15px;
      float: left;
    }
  }

  .green-comment{
    &__inside{
      width: 70%;
      padding: 0;
    }
  }

  .speaker-icon{
    &__name{
      font-size: 18px;
    }
  }

  .white-balloon{
    padding: 10px;
  }

  .green-balloon{
    padding: 10px;
  }

  .site-comment{
    font-size: 12px;
  }

}

@media (max-width: 375px){
  .introduction{
    right: 5px;
  }
}

@media (max-width: 360px){
  .introduction{
    width: 270px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    &__box{
      padding: 10px;
      height: 100%;
      width: 100%;
    }
  }

  .self-intro__explain{
    height: calc(100% - 30px);
    padding: 5px 5px 0 5px ;
    &__box{
      &--text{
        font-size: 12px;
      }
      &--tips{
        font-size: 11px;
      }
    }
  }

}